/scripts/navicat-reset.log
/scripts/navicat-premium-trail-reset.sh
/scripts/tests/random-icon.sh
/scripts/tests/program_icon.png
/scripts/tests/svg-generator.sh
/scripts/tests/traps.sh
/scripts/tests/tunnel.sh
/scripts/tests/weather.sh
/scripts/tests/while-menu.sh
/install.sh
/icons/
/desktop/
/scripts/TT-SyncManager-master/
